<div class="jumbotron mt-5 text-center">
  <h1 class="display-4">Alpha Blog</h1>
  <p class="lead">Super simplified blog for all. This is 100% free.</p>
  <p>To get started</p>
  <p class="lead">
    <%= link_to "Signup now", "#", class: "btn btn-primary btn-lg" %>
  </p>
</div>
