<footer>
  <div class="container">
    <hr>
    <small>Copyright &copy; 2018, Alpha Blog by <a href="http://idevia.in">iDevia</a></small>
    
    <nav class="float-right">
    <ul class="list-unstyled">
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
  </div>
  
</footer>